<div class="dialog-content-wrapper attachment-dialog">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ 'EDIT_ATTACHMENT_LINE' | translate }}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="attachmentDialogForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'FILE_NAME' | translate }}</mat-label>
                    <input name="fileName" formControlName="fileName" matInput required/>
                    <mat-error>
                        {{ 'FILE_NAME_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'COMMENT' | translate }}</mat-label>
                    <input name="comment" formControlName="comment" matInput/>
                </mat-form-field>
            </div>

        </form>
    </div>
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button
                mat-button
                class="save-button accent"               
                (click)="matDialogRef.close(attachmentL)"
                [disabled]="attachmentDialogForm.invalid"
                aria-label="SAVE">
            {{ 'SAVE' | translate }}
        </button>
    </div>
</div>
        