<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        
        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
            
            <div class="logo">
                <img src="assets/images/logos/logo-black.png">
            </div>

            <div class="title">{{ 'LOGIN_ACC' | translate }}</div>

            <form name="loginForm" [formGroup]="loginForm" >

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'USER_NAME' | translate }}</mat-label>
                    <input matInput formControlName="userName">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error *ngIf="loginForm.get('userName').hasError('required')">
                        {{ 'USER_NAME_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error
                        *ngIf="!loginForm.get('userName').hasError('required') &&
                                loginForm.get('userName').hasError('userName')">
                        {{ 'USER_NAME_SHORT' | translate }}
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                        <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="loginForm.get('password').hasError('required')">
                            {{ 'PASSWORD_REQUIRED' | translate }}
                        </mat-error>
                        <mat-error
                            *ngIf="failedlogin">
                            {{ 'LOGIN_FAILED' | translate }}
                        </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">
                    <mat-checkbox class="remember-me" aria-label="Remember Me">
                        {{ 'REMEMBER_ME' | translate }}
                    </mat-checkbox>

                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        {{ 'FORGOT_PASS' | translate }}
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                   [disabled]="loginForm.invalid" (click)="login()">
                   {{ 'LOGIN' | translate }}
                </button>
           
            </form>

            <div class="separator">
                <span class="text">{{ 'HAVE_ACC' | translate }}</span>
            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <a class="link" [routerLink]="''">{{ 'CREATE_ACC' | translate }}</a>
            </div>
        </div>

    </div>

</div>