<div id="MRP" class="page-layout simple fullwidth" fxLayout="row">

        <!-- <app-content-router-frame fxLayoutAlign="center" fxFlex="0 0 auto" 
            [title]="SubCompTitle" [icon]="'developer_board'"
            (created)="componentAdded($event)"
            (destoryed)="componentRemoved($event)"></app-content-router-frame> -->
    <div class="external-content page-layout">      
        <div class="content">
    
            <router-outlet></router-outlet>
        
        </div>
    </div>
</div>