

.dropzone {
    background-color: brown;
    width: 100px;
    height: 100px;
}




.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 10px;
}

.file-info {
  font-size: 1.5rem;
  font-weight: bold;
}

#drop_zone {
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}

.action {
  cursor: pointer;
  outline: none;
}

a.disabled {
  pointer-events: none;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.cardDiv {
    margin-top: 10px; 
    padding: 14px; 
    background-color: white; 
    color: rgba(0, 0, 0, 0.87); 
    border-bottom: 1px dashed grey;
}

.greenSaveIcon {
    margin: 0 5px 0 10px;
    color: green;
}

.redCancelIcon {
    color: red;
}

.uploadBtnDiv {
    float: right;
}

.uploadBtnDiv button {
    margin-left: 20px;
}