<app-table-tab (createEvent)="create($event)">

    <table mat-table [dataSource]="expectedGoodsShipment.lines">

        <div *ngFor="let column of inputAutoColumns">
            <ng-container  [matColumnDef]="column" *ngIf="column!=='itemCode'">
                <th mat-header-cell *matHeaderCellDef>
                    <ng-container *ngIf="column==='itemName' || column==='frgnName'">
                        {{ 'IMD.' + column | translate }}
                    </ng-container>
                    <ng-container *ngIf="column!=='itemCode' && column!=='itemName' && column!=='frgnName'">
                        {{ 'DOCS.' + column | translate }}
                    </ng-container>     
                </th>
                <td mat-cell *matCellDef="let element"> 
                    <input matInput [(ngModel)]="element[column]">
                </td>
            </ng-container>
        </div>

        <ng-container matColumnDef="itemCode">
            <th mat-header-cell *matHeaderCellDef> {{ 'IMD.itemCode' | translate }} </th>
            <td mat-cell *matCellDef="let element"> 
                <div fxLayout="row">
                    <input matInput [(ngModel)]="element.itemCode" autocomplete="off"
                        #searchBoxItemCode (input)="searchItems(searchBoxItemCode.value)">
                    <mat-select matInput #itemCodeSelectEle
                        (selectionChange)="selectItem($event, element)">
                        <mat-option class="search-result" *ngFor="let item of items$ | async"
                            [value]="item">   
                            {{ item.itemCode }} - {{ item.itemName }}     
                        </mat-option>
                    </mat-select>
                </div>
            </td>
        </ng-container>

        <div *ngFor="let column of AutoColumns">
            <ng-container  [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>{{ 'DOCS.' + column | translate }} </th>
                <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
            </ng-container>
        </div>

        <div *ngFor="let column of AutoDatesColumns">
            <ng-container  [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>{{ 'DOCS.' + column | translate }} </th>
                <td mat-cell *matCellDef="let element"> 
                    {{ element[column] | date:'shortDate' }}
                </td>
            </ng-container>
        </div>

        <div *ngFor="let column of AutoBoolColumns">
            <ng-container  [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef>{{ 'DOCS.' + column | translate }} </th>
                <td mat-cell *matCellDef="let element"> 
                    <input matInput [(ngModel)]="element[column]">
                </td>
            </ng-container>
        </div>

        <ng-container matColumnDef="lineStatusCode">
            <th mat-header-cell *matHeaderCellDef> {{ 'DOCS.lineStatusCode' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                {{ element.lineStatusCode | docStatus }}
            </td>
        </ng-container>

        <ng-container matColumnDef="expShipStID">
            <th mat-header-cell *matHeaderCellDef> {{ 'DOCS.expShipStID' | translate }} </th>
            <td mat-cell *matCellDef="let element">
                {{ element.expShipStID }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>      
        
    </table>

</app-table-tab>