@import "src/@fuse/scss/fuse";

app-error {

    .external-content {

        padding-top: 1.6vh !important;
        min-width: 60%;
        align-self: center;
        height: 80%;

        .content {
            background: whitesmoke;
            height: 100%;
        }
    }

}