<div fxLayout="column">
    
    <div fxLayout="row" class="header-row">
        <app-header [title]="'NAV.EXPGOODSSHIP'" fxFlex="35"
            [icon]="'departure_board'" fxLayout="row"></app-header>
        <div fxLayout="row">
            <app-grid-columns-picker [columnsList]="columnsList" 
                [cookieName]="cookieStr" (columnName)="changeColumn($event)">
            </app-grid-columns-picker>
            <app-add-order (clicked)="create()"></app-add-order> 
        </div>
        <!-- <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field> -->
    </div>

    <div class="holding-container-v1 mat-elevation-z8">
                
        <div class="loading-shade" *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>

        <div class="table-container">

            <table mat-table class="accent-row" [dataSource]="entityList" matSort>
               
                <ng-container matColumnDef="docNum">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                        <img src="assets/icons/table_sortIcon.png" alt="filter">
                        {{ 'DOCS.docID' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/expected-goods-shipment', element.docID, element.logisticSiteCode]" >
                            <div fxLayout="row" fxLayoutAlign="center center">
                                {{ element.docNum }}
                                <mat-icon matSuffix class="disabled-text" class="accent-fg" >arrow_forward</mat-icon>   
                            </div>
                        </a> 
                    </td>
                </ng-container>

                <div *ngFor="let column of displayedColumns">
                    <ng-container  [matColumnDef]="column" *ngIf="column!=='docNum' && column!=='delete' && column!=='createDate' && column!=='updateDate' && column!=='reqDueDate' && column!=='confDueDate'&& column!=='docStatusCode'" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <img src="assets/icons/table_sortIcon.png" alt="filter">
                            {{ 'DOCS.' + column | translate }} </th>
                        <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                    </ng-container>
                </div>

                <ng-container matColumnDef="docStatusCode">
                    <th mat-header-cell *matHeaderCellDef> 
                        <img src="assets/icons/table_sortIcon.png" alt="filter">
                        {{ 'DOCS.docStatusCode' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.docStatusCode | docStatus }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="createDate">
                    <th mat-header-cell *matHeaderCellDef> 
                        <img src="assets/icons/table_sortIcon.png" alt="filter">
                        {{ 'DOCS.createDate' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.createDate | date:'shortDate' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="updateDate">
                    <th mat-header-cell *matHeaderCellDef> 
                        <img src="assets/icons/table_sortIcon.png" alt="filter">
                        {{ 'DOCS.updateDate' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.updateDate | date:'shortDate' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="reqDueDate">
                    <th mat-header-cell *matHeaderCellDef> 
                        <img src="assets/icons/table_sortIcon.png" alt="filter">
                        {{ 'DOCS.reqDueDate' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.reqDueDate | date:'shortDate' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="confDueDate">
                    <th mat-header-cell *matHeaderCellDef> 
                        <img src="assets/icons/table_sortIcon.png" alt="filter">
                        {{ 'DOCS.confDueDate' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.confDueDate | date:'shortDate' }}
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ 'ACTIONS.DELETE' | translate }} </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="" (click)="delete(element)">
                            <mat-icon matSuffix class="disabled-text" [ngClass]="warn-color" class="red-fg" (mouseover)="warn-color='red-A400-fg'" (mouseout)="warn-color='red-fg'">highlight_off</mat-icon> 
                        </a>
                    </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>      
            </table>

        </div>

        <mat-paginator style="display: none;" #page [length]="resultsLength"></mat-paginator>

        <app-custome-paginator      
            [tableTitle]="'Expected Goods Shipments'"     
            [pagesize] = "pageSize" 
            [isHasPrevPage] = "page.hasPreviousPage()"
            [pagecount] = "pageCount"
            [isHasNextPage] = "page.hasNextPage()"
            [pagelength] = "page.length"
            (updatePageEvent) = "updatePage($event)"
            (goFirstPageEvent) = "goFirstPage()"
            (goPrevPageEvent) = "goPrevPage()"
            (goNextPageEvent) = "goNextPage()"
            (goLastPageEvent) = "goLastPage()">
        </app-custome-paginator>
   
    </div>

</div>