@import "src/@fuse/scss/fuse";

app-content-router-frame {

    .external-content {
        
        margin: 0px 3% auto;

        .content {
            background: whitesmoke;
            height: 100%;
        }
    }
    
}