<div id="cards" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <!-- <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="space-between center">

        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
            </div>
            <div class="h2 mt-16">{{ 'HOME' | translate }}</div>
        </div>

    </div> -->
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content">

        <div class="p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
        
            <div class="hero-text">
                <h1 >
                    WAREHOUSE MANAGMENT SYSTEM
                </h1>
                <h3 >
                    Welcome to your online logistic 
                    all-in one managment tool!
                </h3>
            </div>

        </div>
        <!-- <div class="cards">

            <div class="card">

                <div class="fuse-card">

                    <img src="assets/images/cards/card1.jpg">

                    <div class="p-16">
                        <div class="h1">First card with image</div>
                        <div class="h4 secondary-text">First card with image</div>
                    </div>

                    <div class="p-16 pt-0 line-height-1.75">
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                    </div>

                </div>
            </div>
            <div class="card">

                <div class="fuse-card">

                    <img src="assets/images/cards/card2.jpg">

                    <div class="p-16">
                        <div class="h1">Second card with image and button</div>
                        <div class="h4 secondary-text">Second card with image and button</div>
                    </div>

                    <div class="p-16 pt-0 line-height-1.75">
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                    </div>

                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button color="accent">Button 1</button>
                        <button mat-button color="accent">Button 2</button>
                    </div>

                </div>

            </div>
            <div class="card">

                <div class="fuse-card indigo">

                    <div class="p-16">
                        <div class="h1">Card with color</div>
                        <div class="h4 secondary-text">Card with color</div>
                    </div>

                    <div class="p-16 pt-0 line-height-1.75">
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                        Some content repeatedly Some content repeatedly Some content repeatedly Some content repeatedly.
                    </div>

                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button color="accent">Button 1</button>
                        <button mat-button color="accent">Button 2</button>
                    </div>

                </div>

            </div>

        </div> -->
        <!-- / CONTENT -->

    </div>
</div>
