@import "src/@fuse/scss/fuse";

app-demands-grid {

    .holding-container-v1 {

        .table-container {

            table.accent-row {

                tr.detail-row {
                    height: 0;
                }
                
                tr.detail-row:hover {
                    background-color: transparent !important;
                }

                .mat-column-planningStatusDescription {
                    min-width: 8vw;
                }
                
                .demand-detail {
                    overflow: hidden;
                    display: flex;
                }

                .demand-detail-table {
                    border: 3px solid lightskyblue;
                }

            }

        }

    }
}
